		<div class="global_footer_wrap">
			<div class="footer_online mb20">
				<a href="javascript:void(0)" class="service_btn" id="footerServiceBtn"><i></i>在线客服</a>
				<a href="javascript:void (0)" class="wx_btn" id="footerWxBtn">
					<img src="/static/images/qr_code_bottom.png"><i></i>微信公众号</a>
			</div>
			<div class="footer_tel">
				<p><i></i><span>客服电话：4001-578-578 服务时间（08:30-22:30）</span></p>
			</div>
			<div class="footer_nav clear_fix">
				<p class="footer_links clear_fix">
					<a href="/" target="_blank">诺心公告</a>
					<a href="/" target="_blank">关于诺心</a>
					<a href="/" target="_blank">联系我们</a>
					<a href="/" target="_blank">客服服务</a>
					<a href="//rescdn.lecake.com/shop/lecake/theme/xth2/images/index/business_certificate4.jpg" target="_blank">食品经营许可证</a>
					<a href="//rescdn.lecake.com/postsystem/docroot/images/promotion/201805/S22C-2180516134800_0001_0101.jpg" target="_blank">生产许可证</a>
					<a href="/" target="_blank">预付费卡协议</a>
					<a href="/" class="last" target="_blank"><i></i>上海工商</a>
				</p>
			</div>
			<div class="footer_address">
				<p class="clear_fix"> 诺心食品（上海）有限公司&nbsp;&nbsp;上海徐汇区田林路140号28号楼503室&nbsp;&nbsp;客服邮箱：services@lecake.com&nbsp;&nbsp;公司电话：4001-578-578</p>
			</div>
			<div class="footer_copy">
				<p>copyright©2010-2018 诺心lecake.com版权所有 <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备10211730号</a></p>
			</div>
		</div>
