.list_new .item_new {
    height: 440px;
    padding: 20px;
    overflow: hidden;
    background: #ffffff;
    /* margin: 1px; */
		border: 1px solid #f9f9f9;
    font-size: 14px;
    transition: all 1s ease;
		text-align: left;
		.div_img {
		    width: 248px;
		    height: 248px;
				transform: scale(1);
				overflow: hidden;
				img {
					transition: all 1s ease;
				}
		}
		.list_new_info{
		    position: relative;
		    z-index: 2;
				.list_new_name {
					padding: 6px 0;
				}
				.list_Discount {
					min-height: 48px;
					margin-bottom: 10px;
					p{
						padding-top:0;
						margin-bottom: 4px;
						span{
							padding: 2px 6px;
							color: #ffffff;
							background: #cca976;
							line-height: 1.2;
							display: inline-block;
							position: relative;
						}
						.vip_price{
							padding-left: 48px;
							background: #ff3200;
						}
						.vip_price:before {
							content: '';
							position: absolute;
							width: 42px;
							height: 14px;
							background: url(../static/images/vipPriceTag.png) center no-repeat;
							background-size: 100% 100%;
							left: 5px;
							top: 50%;
							margin-top: -7px;
						}
					}
				}
				.price_wrap{
					font-size: 16px;
					.new_price{
						display: inline-block;
						margin-right: 4px;
						vertical-align: middle;
						small{font-size: inherit;margin-right: 2px;}
					}
				}
				a.buy_btn{
					color: #ff3500;
					position: relative;
					z-index: 2;
					display: inline-block;
					font-size: 12px
				}
				a.buy_btn:before{
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					background: url(/static/images/icons.png) center no-repeat;
					background-size: 400px 400px;
					top: 50%;
					margin-top: -10px;
					background-position: -10px -290px;
					left: 55px;
				}
				a.buy_btn:after{
					display: none;
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					background: url(/static/images/icons.png) center no-repeat;
					background-size: 400px 400px;
					top: 50%;
					margin-top: -10px;
					background-position: -50px -290px;
					left: 55px;
				}
				a.buy_btn:hover{
					text-decoration: underline;
				}
		}
}
.item_new.Christmas:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	//background: url(../static/images/christmas_item_bg.jpg);
	background: #d0e7e5;
	background-size: cover;
	opacity: 0;
	transition: all 0.5s ease;
	left: 0;
	top: 0;
}
.item_new.Christmas:hover:before {
  opacity: 1;
}
.item_new.Christmas:hover a.buy_btn:before{
	display: none;
}
.item_new.Christmas:hover a.buy_btn:after{
	display: block;
}
.item_new.Christmas:hover img {
	transform: scale(1.1);
}