.global_top_cart {
    display: none;
    position: absolute;
    top: 35px;
    width: 285px;
	max-height: 390px;
	overflow: auto;
    right: -60px;
    background: #ffffff;
    z-index: 12;
    box-shadow: 0 0 10px rgba(222, 222, 222, 0.6);
	.no_content {
		text-align: center;
		padding: 20px 0;
		color: #949494;
	}
	.goods_list {
		padding: 0 20px;
		max-height: 350px;
		overflow: auto;
		.goods_item {
			padding: 20px 0;
			width: 242px;
			border-bottom: 1px solid #e5e5e5;
		}
		.goods_item:last-of-type {
			border-bottom: 0;
		}
		.img_wrap {
			width: 90px;
			height: 90px;
		}
		.goods_detail {
			text-align: left;
			position: relative;
			margin-left: 100px;
			height: 90px;
			h2 {
				height: 28px;
				line-height: 28px;
				font-size: 12px;
				padding-right: 28px;
				position: relative;
			}
			p {
				font-size: 12px;
				line-height: 30px;
				color: #949494;
			}
			p.new_price{
				font-size: 14px;
				line-height: 25px;
				color: #000000;
				span{
					float: right;
					font-size: 12px;
					margin-left: 85px;
					color: #949494;
				}
			}
			
		}
	}
	.cart_bottom {
		text-align: left;
		background: #f9f9f9;
		height: 60px;
		position: relative;
		p {
			margin-left: 20px;
			color: #949494;
			padding-top: 10px;
		}
		p.total_price {
			line-height: 1;
			padding-top: 0;
			font-size: 14px;
			color: #ff4001;
			strong {
				font-size: 20px;
			}
		}
		a {
			position: absolute;
			width: 120px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			color: #ffffff;
			//right: 20px;
			right: 55px;
			top: 50%;
			margin-top: -17px;
			background: #ff4001;
			border-radius: 3px;
		}
	}
}
/* header头部 */
 .header_wrap {
    z-index: 10;
    width: 100%;
    min-width: 1200px;
    left: 0;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}
 .header_wrap .top_bar {
    height: 30px;
    line-height: 30px;
    background: #f9f9f9;
    position: relative;
    transform: translateZ(0);
    padding-right: 12px;
    z-index: 10;
	span {
		margin-left: 30px;
	}
	.user_btn {
		margin-left: 0;
		text-decoration: underline;
	}
	.logout_btn {
		color: #949494;
		margin-left: 4px;
	}
}
.header_wrap .top_bar .m_aotu{
		height: 30px;
}
 .header_wrap .top_bar a {
    margin-left: 30px;
    position: relative;
}
 .header_wrap .top_bar a:not(.logout_btn):hover{
	 color: #ff4001;
 }
 .header_wrap .top_bar a.ma-le{
	 margin-left: 0;
 }
 .header_wrap .top_bar .wx_btn {
    padding-left: 36px;
}
 a.wx_btn:hover img.wx_img{
	 display: block;
 }
 .header_wrap .top_bar .wx_btn:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    background: url(../static/images/icons.png) center no-repeat;
    background-size: 400px 400px;
    top: 50%;
    margin-top: -20px;
    background-position: -320px -240px;
    left: 0;
}
 .header_wrap .top_bar .wx_btn img {
	 display: none;
    position: absolute;
    width: 195px;
    height: 239px;
    max-width: none;
    top: 20px;
    left: 50%;
    margin-left: -100px;
    z-index: 10;
}
.header_wrap .header_content .logo_img {
    float: left;
    width: 207px;
    height: 24px;
    margin: 28px 0 0 500px;
}
.header_wrap .header_content .right_content .select_city_wrap {
    position: absolute;
    left: 64px;
    top: 24px;
    height: 24px;
    line-height: 24px;
    padding-left: 32px;
    font-size: 12px;
}
 .header_wrap .header_content .right_content {
    font-size: 0;
    margin: 24px 64px 0 0;
}
 .header_wrap .header_content .right_content .search_wrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
 .header_wrap .header_content .right_content .search_wrap .input_wrap {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-bottom: 1px solid #3e3e3e;
    vertical-align: middle;
}
 .header_wrap .header_content .right_content .search_wrap input {
    font-size: 12px;
    width: 200px;
    padding: 2px 4px;
}
 .header_wrap .header_content .right_content .search_wrap button {
    position: relative;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    overflow: hidden;
    z-index: 1;
	background: transparent;
}
 .header_wrap .header_content .right_content .search_wrap button:before {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../static/images/icons.png) center no-repeat;
    background-size: 400px 400px;
    top: 50%;
    margin-top: -20px;
    background-position: -320px -200px;
    content: '';
    left: 50%;
    margin-left: -20px;
}
 .header_wrap .header_content .right_content .nav_cart_wrap {
    position: relative;
    margin-left: 10px;
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    cursor: pointer;
}
 .header_wrap .header_content .right_content .nav_cart_wrap:before {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../static/images/icons.png) center no-repeat;
    background-size: 400px 400px;
    top: 50%;
    margin-top: -20px;
    background-position: -240px -240px;
    content: '';
    left: 50%;
    margin-left: -20px;
}
 .header_wrap .header_content .right_content .nav_cart_wrap .nav_cart {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header_wrap .header_content .right_content .nav_cart_wrap:hover .global_top_cart {
	display: block;
}
 .header_wrap .header_content .right_content .nav_cart_wrap .global_cart_num {
    position: absolute;
    min-width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 7px;
    z-index: 1;
    top: 0;
    left: 20px;
    font-size: 12px;
    background: #ff4001;
    color: #ffffff;
}
 .header_wrap .header_content .global_nav {
    clear: both;
    padding: 24px 0;
    position: relative;
    text-align: center;
    font-size: 0;
}
 .header_wrap .header_content .global_nav .inner_wrap {
		display: none;
		padding: 10px 0;
		position: absolute;
		width: 100%;
		left: 0;
		background: #ffffff;
		z-index: 2;
		top: 24px;
		box-shadow: 0 0 10px rgba(222, 222, 222, 0.6);
		a {
			display: block;
			text-align: center;
			height: 32px;
			line-height: 32px;
		}
	}
.header_wrap .header_content .global_nav .nav {
    display: inline-block;
    text-align: center;
}
.header_wrap .header_content .global_nav .nav li {
    font-size: 16px;
    position: relative;
    text-align: center;
    padding: 0 40px;
    height: 20px;
    line-height: 20px;
    float: left;
}
.header_wrap .header_content .global_nav .nav li.active > a {
    position: relative;
	color: #ff4001;
}
.header_wrap .header_content .global_nav .nav li.active:after  {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff4001;
    left: 0;
    bottom: -25px;
}
.header_wrap .header_content .global_nav .nav li a:hover{
	color: #ff4001;
}
.header_wrap .header_content .global_nav .nav li.have_inner:hover .inner_wrap {
  display: block;
}
/* header头部  固定定位条 */
.fix_header{
	position: fixed;
    top: -65px;
    z-index: 21;
    min-height: 62px;
    transition: all 0.5s ease;
}
.header_wrap.fix_header .m_aotu{
		height: 60px;
}
.header_wrap.fix_header .header_content .logo_img {
    height: 24px;
    margin: 18px 32px 0 64px;
}
.header_wrap.fix_header .header_content .right_content {
    margin: 14px 64px 0 0;
}
.header_wrap.fix_header .header_content .right_content .select_city_wrap {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    vertical-align: middle;
}
.header_wrap.fix_header .header_content .right_content .select_city:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../static/images/icons.png) center no-repeat;
    background-size: 400px 400px;
    top: 50%;
    margin-top: -20px;
    background-position: -280px -200px;
    left: 0;
}
/* .header_wrap.fix_header .header_content .right_content .select_city.currentCity{
} */
.header_wrap .header_content .right_content .customer_link_wrap {
    font-size: 12px;
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    z-index: 1;
    margin-left: 10px;
    cursor: pointer;
}
.header_wrap.fix_header .header_content .right_content .customer_link_wrap {
    display: inline-block;
}
.header_wrap.fix_header .header_content .right_content .customer_link_wrap:before {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../static/images/icons.png) center no-repeat;
    background-size: 400px 400px;
    top: 50%;
    margin-top: -20px;
    background-position: -360px -200px;
    content: '';
    left: 50%;
    margin-left: -20px;
}
.header_wrap.fix_header .header_content .global_nav {
    float: left;
    clear: none;
    padding: 20px 0;
    height: 20px;
}
.header_wrap.fix_header .header_content .global_nav .nav li {
    padding: 0 22px;
}
.header_wrap.fix_header .header_content .global_nav .nav li:first-child:after {
    bottom: -20px;
}
/* .header_wrap.fix_header .header_content .global_nav .nav li.active > a {
    position: relative;
    left: 20px;
} */