@import "./base.scss";
@import "./footer.scss";
//注册登录
body{
	background: #ebebeb;
}
.clear_fix:after{
	clear:both;
	content:"."; 
	display:block; 
	height:0pt;
	visibility:hidden; 
	overflow:hidden;	
}
.active{
	color: #fe4320 !important;
}
.mini_header {
    height: 82px;
		background: transparent;
		h1 {
			font-size: 18px;
			line-height: 20px;
			padding-left: 10px;
		}
}
.global_header{
	.wrap {
    position: fixed;
    z-index: 10;
    width: 100%;
    min-width: 1200px;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
	}
	.global_nav {
    padding: 29px 0;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
		.m_aotu{
			.logo_link{
				color: #ff4001;
			}
		}
	}
}
.main_register {
	.main{
		position: relative;
		height: 340px;
	    padding: 60px 0 120px;
			.form_wrap {
				width: 250px;
				position: relative;
				margin: auto;
			}
			.bottom_link {
				text-align: left;
				width: 300px;
				margin-top: 12px;
				position: relative;
				label {
					vertical-align: middle;
				}
				a {
					color: #fe4320;
				}
			}
			.bottom_link [type="checkbox"]{
				vertical-align: middle;
				margin: 0;
			}
	}
}
.main_passport {
	.input_wrap {
		width: 250px;
		text-align: right;
	    position: relative;
	    margin-bottom: 30px;
	    font-size: 14px;
		input {
			width: 226px;
			line-height: 20px;
			padding: 4px 0 5px 24px;
			border-bottom: 1px solid #e5e5e5;
		}
		.code_btn {
		width: 90px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: #fe4320;
		font-size: 12px;
		color: #ffffff;
		float: right;
		}
		img {
			position: absolute;
			height: 30px;
			width: 50px;
			background: #ebebeb;
			right: 42px;
			top: 0;
		}
		.refresh_btn {
			float: right;
			font-size: 12px;
			margin-top: 6px;
		}
	}
	.input_wrap:before {
		content: '';
		position: absolute;
		width: 24px;
		height: 24px;
		background: url(/static/images/icons_2.png) center no-repeat;
		left: 0;
		background-position: 0 0;
		top: 3px;
	}
	.input_wrap.password_wrap:before {
		background-position: -8px -8px;
	}
	.input_wrap.username_wrap:before {
		background-position: -48px -8px;
	}
	.input_wrap.confirm_wrap:before  {
		background-position: -8px -8px;
	}
	.input_wrap.yzm_wrap:before {
		background-position: -88px -8px;
	}
	.input_wrap.yzm_wrap input{
		width: 128px;
		float: left;
	}
	.error_message {
		text-align: left;
		text-indent: 24px;
		position: absolute;
		width: 100%;
		height: 24px;
		left: 0;
		top: 30px;
		line-height: 24px;
		font-size: 12px;
		color: #ff0000;
		overflow: hidden;
	}
	.submit_btn {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		background: #fe4320;
		color: #ffffff;
		font-size: 16px;
	}
	.code_yzm{
		width: 90px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: #fe4320;
		font-size: 20px;
		color: #fff;
		right: 0;
		position: absolute;
	}
}
//logoin
.main_login{
	.main{
		position: relative;
		height: 520px;
		background: url(/static/images/ac198f1e37025872d33159b4cfc2ae88.jpg) no-repeat center;
		section {
			height: 100%;
			.banner_link {
				position: absolute;
				z-index: 1;
				width: 880px;
				height: 100%;
				left: 160px;
				top: 0;
			}
		}
	}   
	#loginApp{
		.logo_wrap{
			float: right;
			margin-right: 160px;
			position: relative;
			z-index: 2;
			top: 75px;
			width: 250px;
			padding: 20px 60px;
			background: #ffffff;
			opacity: 0.95;
			h2{
				margin-bottom: 20px;
				position: relative;
				font-size: 14px;
				font-weight: normal;
				a{
					width: 50%;
					line-height: 28px;
				}
			}
			h2.tab_title:before {
				content: '';
				position: absolute;
				width: 1px;
				height: 18px;
				background: #949494;
				z-index: 1;
				left: 50%;
				top: 50%;
				margin-top: -9px;
			}
			.bottom_link {
				margin-top: 12px;
				.link_1 {
					color: #949494;
					float: left;
				}
				.link_2 {
					color: #fe4320;
					float: right;
				}
				a.link_2:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
