@import "./component/base.scss";
@import "./component/header.scss";
@import "./component/footer.scss";
body>div{
	width: 300px;
	height: 110px;
	font-size: 22px;
	position: fixed;
	top: 33%;
	left: 45%;
	line-height: 110px;
	background: #ebebeb;
	border-radius: 3%;
}
.main_pay .main {
    min-height: 800px;
	section {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		margin-top: 24px;
	}
	.promotion_price_tips {
		height: 30px;
		line-height: 30px;
		background: #ff4001;
		margin-top: 0;
		text-align: center;
		.text {
			font-weight: bold;
			font-size: 16px;
			color: #ffffff;
		}
	}
	.normal_area_wrap{
		.address{
			h2:before {
				background-position: 0 -160px;
				span {
					cursor: pointer;
				}
			}
			.content {
				padding: 12px 50px;
				min-height: 68px;
			}
			.btn_wrap {
				position: absolute;
				width: 324px;
				height: 44px;
				left: 642px;
				top: 50%;
				margin-top: -22px;
				a {
					width: 130px;
					height: 44px;
					line-height: 44px;
					position: relative;
					text-align: center;
					border: 1px solid #949494;
					span {
						position: relative;
						padding-left: 30px;
					}
					span:before {
						content: '';
						position: absolute;
						width: 40px;
						height: 40px;
						background: url(../static/images/icons.png) center no-repeat;
						background-size: 400px 400px;
						top: 50%;
						margin-top: -20px;
						background-position: 0 0;
						left: -6px;
						margin-top: -19px;
					}
				}
				a:first-of-type span:before {
					background-position: -360px -160px;
				}
				a:last-of-type span:before {
					background-position: 0 -200px;
				}
			}
		}
		.delivery_time{
			h2:before {
				background-position: -40px -160px;
			}
			.content {
				padding: 18px 50px;
			}
			.select_wrap {
				p {
					position: relative;
					width: 180px;
					height: 44px;
					line-height: 44px;
					text-align: center;
					cursor: pointer;
					border: 1px solid #949494;
				}
				p.delivery_date {
					width: 230px;
					margin-right: 40px;
				}
			}
		}
		.delivery_type{
			h2{
				span{
					color:#949494;
				}
			}
			h2:before {
				background-position: -80px -160px;
			}
		}
		.sp_list{
			 h2:before {
				background-position: -200px -160px;
			}
		}
		.pay_type{
			h2:before {
				background-position: -120px -160px;
			}
		}
	}
	h2 {
		position: relative;
		text-align: left;
		padding-left: 50px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		strong {
			margin-right: 16px;
		}
		span {
			font-size: 12px;
		}
	}
	h2:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		background: url(../static/images/icons.png) center no-repeat;
		background-size: 400px 400px;
		top: 50%;
		margin-top: -20px;
		background-position: 0 0;
		left: 5px;
	}
	.content {
		background: #f9f9f9;
		position: relative;
	}
	.footer {
		padding: 0 16px;
		background: #f6f6f6;
		width: 100%;
		max-width: 1200px;
		margin: 40px auto 0;
		position: relative;
		.footer_wrap {
			padding: 10px 0 16px;
			text-align: right;
			h3 {
				height: 32px;
				line-height: 32px;
				overflow: hidden;
				span {
					float: right;
					width: 100px;
					color: #ff4001;
				}
				strong {
					font-size: 18px;
				}
			}
			button {
				margin-top: 12px;
				width: 250px;
				height: 60px;
				line-height: 60px;
				background: #ff4001;
				color: #ffffff;
				font-size: 18px;
			}
		}
	}
}
.main_pay .main * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}